/* .loading {
  z-index: 99999;
  position: relative;
  background: #ffffff;
}
.loading::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 9999999999999999;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-900px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.376),
    transparent
  );
  animation: loading 1s infinite;
} */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
/* .slider-container {
  display: flex;
  padding: 20px;
}

.poster-skeleton {
  width: 200px;
  height: 200px;
  background-color: #6f6f6f;
  margin-right: 20px;
  border-radius: 8px;
}

.info-container {
  flex: 1;
}

.title-skeleton {
  width: 300px;
  height: 20px;
  background-color: #6f6f6f;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: shimmer 5s infinite linear;
}

.overview-skeleton {
  width: 100%;
  height: 80px;
  background-color: #6f6f6f;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: shimmer 5s infinite linear;
}

.details-skeleton .detail-item {
  width: 100px;
  height: 15px;
  background-color: #6f6f6f;
  margin-bottom: 5px;
  border-radius: 4px;
  animation: shimmer 5s infinite linear;
}

.rating-skeleton {
  display: flex;
  align-items: center;
}

.rating-bar {
  width: 80px;
  height: 15px;
  background-color: #6f6f6f;
  border-radius: 4px;
  animation: shimmer 5s infinite linear;
  margin-right: 10px;
}

.info-icon {
  width: 20px;
  height: 20px;
  background-color: #6f6f6f;
  border-radius: 50%;
  animation: shimmer 5s infinite linear;
} */

@keyframes shimmer {
  0% {
    /* background-color: #d1d1d1; */
    background-position: -100px 0;
  }
  100% {
    /* background-color: #131313; */
    background-position: 100px 0;
  }
}
